body{
    font-family: 'Cormorant SC', serif;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
}

#body{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 50px;  
    width: 1000px; 
}



/* first section */
.first-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 129, 241); 
    color: white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
} 

.first-section .description{
    margin-right: 0px;
}

.first-section .button{
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    justify-content: space-between; 
    text-decoration: none;
    transition: transform 0.8s;
}





/* second section */
/* .content */
.second-section{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-top: 100px;
    margin-bottom: 100px;
}
.content{
    display: grid;
    grid-template-columns: (1, 1fr);
    row-gap: 20px;
    height: 100%;
    background-color: rgb(129, 129, 241); 
    border-radius: 10px;
    padding: 20px;
    width: 19%; 
}
.banners{  
  transition: transform 1s;
}

.first-section:hover .banners{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}

/* .banner1:hover{
    opacity: 1;
} */
.second-section .content .button,.second-section .content .current-button{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 100%;
    height: 50px;
    font-size: 15px; 
    font-weight: 600;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.second-section .content .current-button{
    background-color: red;
}
.second-section .content .button:active{
    background-color: blue;
    
}


.blog, .match{
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-weight: 600;
}

.submatch{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.submatch img{
    width: 100%;
    width: 44%;
}
.submatch span{
    font-size: 14px;
    color: #4D4D4D;
}
/* .match{
    padding: 30px;
}

.match img{
    width: 10px;
} */


/* .blogs */
.blogs, .matches{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
/* .blogs:last-child{
    display: none;
} */

.blog>img{
    width: 100%;
}

.short{
    display: flex; 
    color: #161616B2;
    align-items: center;
}  
.short .fa-comment-dots{
    margin-left: 50px;
}
.title{
    padding: 10px;
}

footer{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(129, 129, 241);
    width: 100%;
    height: 300px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}
footer .list a{ 
    color: white;
    text-decoration: none;
    margin: 30px;
}
hr{
    width: 80%;
    background-color: black;
    margin-bottom: 60px;
}

.button:hover{
    background-color: blue;
}

/* tableveiw button */
#tbltbtn{
    text-align: center;
    justify-content: center;
    font-size: 35px;
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 15px;
    display: none;
}




/* upcoming matches */
.flag{
    display: flex;
}



/* responsive for mobile */

@media screen and (max-width: 688px){
    #body{
        width: 80%;
        align-items: center;
    }
    .first-section{ 
        flex-direction: column;
        width: 90%;
        align-items: center;
        text-align: justify;
    }
    .first-section .description{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .second-section{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .content{
        background-color: white;
        width: 70%;
    }
    .blogs, .matches{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    footer{
        height: 600px;
        margin-bottom: 0px;
    }
    footer .list{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


/* responsive for table */

@media screen and (max-width: 992px) and (min-width: 669px){
    #body{
        width: 80%;
        align-items: center;
    }
    .first-section{  
        width: 90%;
        align-items: center;
    }
    .first-section .description{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .second-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .content{
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        column-gap: 20px;
        margin: 0px;
        width: 100%; 
    }
    .blogs, .matches{
        grid-template-columns: repeat(2, 1fr);
        overflow-y: hidden;
        width: 100%; 
        height: 1000px;
    }
    footer{
        height: 600px;
        margin-bottom: 0px;
    }
    footer .list{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #tabletview #tbltbtn{
        background-color: red;
        display: flex;
    }
    #tbltbtn:checked{
        background-color: blue;
    }
}