body{
    font-family: 'Cormorant SC', serif;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
}

#body{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    /* justify-content: center; */
    width: 1000px; 
}



/* first section */
.first-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 129, 241); 
    color: white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
} 

.first-section .description{
    margin-right: 0px;
}

.button{
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    justify-content: space-between; 
    text-decoration: none;
}




/* second section */
/* .content */
.second-section{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-top: 100px;
    margin-bottom: 100px;
}
.content{
    display: grid;
    grid-template-columns: (1, 1fr);
    row-gap: 20px;
    background-color: rgb(129, 129, 241); 
    border-radius: 10px;
    padding: 20px;
    width: 217px;
    height: 200px;
}
.second-section .content .button, .current-button{
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: 15px; 
    font-weight: 600; 
}
.second-section .content .button {
    background-color: blue;
    text-decoration: none;
}
.current-button{
    background-color: red;
}


.blog{
    width: 217px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-weight: 600;
}


/* .blogs */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog>img{
    width: 100%;
}

.short{
    display: flex;
    justify-content: space-between;
    color: #161616B2;
    align-items: center;
} 
footer{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(129, 129, 241);
    width: 100%;
    height: 300px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}
footer .list a{ 
    color: white;
    text-decoration: none;
    margin: 30px;
}
hr{
    width: 80%;
    background-color: black;
    margin-bottom: 60px;
}